body {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
 #container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    background-color: #D3D3D3;
    padding-top: 20px;
    flex-direction: column;
    
}
 #display {
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
    width: 480px;
    align-items: center;
    background-color: #F5F5DC;
    font-size: 45px;
    padding-right: 20px;
}
  #digitContainer {
    background-color: green;
    display: flex;
    height: 480px;
    width: 500px;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}
#firstRow {
    display: flex;
    
    width: 480px;
    height: 60px;
    margin-top: 30px;
    flex-direction: row-reverse;
}
.buttonRow {
    display: flex;
    
    width: 480px;
    height: 60px;
    margin-top: 30px;
    justify-content: space-evenly;
    gap: 22px;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}

#ACbutton {
    display: flex;
    flex-basis: 102px;
    flex-grow: 0;
    flex-shrink: 0;
    
}

